* {
    margin: 0;
    padding:0;
    font-family: sans-serif;
    text-decoration: none;
    
    
}


.container {
   width: 100%;
   height:100vh;
   background:linear-gradient(135deg, #74EBD5 0%, #4361e6 100%);
   

   display: flex;
   justify-content: center;
    
    
    
    
}

#card { 
    transform-style: preserve-3d;
    justify-content: center;
    display: flex;
    align-items: center;
    
    transition:all 700ms
    
}


.face {
    background-color: rgb(255, 255, 255);
    width: 250px;
    height:430px;

    border-radius: 8px;

    position:absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 40px;
}

#front {
    transform: rotateY(180deg);
    z-index: 0;
}

#back {
    transform: rotateY(0deg);
    backface-visibility: hidden;
    z-index: 1;
    
}
.login {
    transform: rotateY(0deg);
}

.login.create {
    transform: rotateY(180deg);
    
}







.register-tittle,
.login-tittle {
    margin-bottom: 80px;
    margin-top: 20px;
    color:rgba(0, 0, 0, 0.582)
}


.register-form,
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    
    width: 100%
}

.confirm-register--input,
.register-input,
.login-input {
    margin-bottom: 5px;
    background-color: transparent;
    border: none;
    width:100%
}

.confirm-register--input,
.register-input:focus,
.login-input:focus {
    outline:0;
}

.confirm-register-input--border,
.register-input--border,
.login-input--border {
   width:100%;
   height:2px;
   background: rgba(121, 121, 121, 0.219);

   margin-bottom: 45px;

   transition: .3s ease-in-out; 
}

.confirm-register-input--border {
    margin-bottom: 10px;
}

.confirm-register-input--border::after,
.register-input--border::after,
.login-input--border::after {
    width:0;
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 45px;
    background: linear-gradient(120deg, #e75590, #00c2cb );
    transition: .3s ease-in-out;
}

.confirm-register-input--border:focus + .confirm-register-input--border::after,
.register-input:focus + .register-input--border::after,
.login-input:focus + .login-input--border::after{
    width: 100%
}

.register-input--border.error,
.confirm-register-input--border.error,
.login-input--border.error {
    height:3px;
    background-color: rgb(223, 1, 1);
}





.register-submit,
.login-submit {
 background: linear-gradient(-45deg, #3f00b567, #9f69fe, #27c8b8a6, #3f00b560);
 width: 100%;
 height:40px;
 margin-bottom: 30px;
 background-size: 800% 400%;
 
 display: inline-block;
 border: none;
 border-radius: 7px;
 
 font-weight: bold;
 color: white;
 cursor: pointer;
 transition: all .5s ease-in-out;
 animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

.register-submit{
    margin-top: 20px;
}


.register-submit:active,
.login-submit:active {
 animation: gradient 3s infinite;
}

.register-submit:disabled,
.login-submit:disabled {
    background: rgb(163, 163, 163);
}
.register-input.error,
.login-input.error {
    background:red;
}

.register-input.sucess,
.login-input.success {
    background: green;
}

@keyframes gradient {
 0% {
  background-position: 0% 50%;
 }

 50% {
  background-position: 100% 50%;
 }

 100% {
  background-position: 0% 50%;
 }
}

.login-reset {
    position: absolute;
    right: 0;
    top: 90px;

    font-size: 11px;
    color: grey;
}

.border-end {
    margin-bottom: 10px;
    color: grey;
    font-size: 11px;
}

.create-account--button{
    display: flex;
    justify-content: center;
    width: 140px;
    height: 20px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background: rgba(58, 0, 175, 0.611);
    color: aliceblue;
    font-family:sans-serif;
    font-weight: 700;
}
   




















